
.clearDay{
   background-image: url("./../assets/clearDay.jpg");
}
.cloudyDay{
   background-image: url("./../assets/cloudyDay.jpg");
}
.rainyDay{
   background-image: url("./../assets/rainyDay.jpg");
}
.snowyDay{
   background-image: url("./../assets/snowyDay.jpg");
}
