@import "./../App.scss";
@import "./breakpoints.scss";

.card {
  display: flexbox;
  flex-direction: column;
  width: 17vw;
  min-width: 300px;
  height: 52vh;
  padding: 0.5rem 1rem;
  margin: 1rem;
  box-shadow: 2px 2px 6px 4px #000;
  border-radius: 1.2rem;

  color: $lightColor;
  text-shadow: 2px 1px 2px black;
  background-position: center;
  background-size: cover;
  opacity: 0.8;

  button {
    float: right;
    border-radius: 7px;
    cursor: pointer;
    background: $bgColor;
    color: $lightColor;
    border: none;
      padding: 0 5px;
    transition: 0.3s;
    &:hover {
      background: $lightColor;
      color: $bgColor;
      border: 1px solid $bgColor;
    }
  }
  h1 {
    font-size: 4.5rem;
    text-align: center;
    margin: 2rem 0;
  }
  span {
    display: flex;
      font-size: 1.1rem;
    justify-content: center;
    color: $alertColor;
    font-weight: 600;
  }
}

.description {
  display: flex;
  justify-content: space-around;
  width: 100%;
  img {
    width: 9rem;
    @include phone {
      width: 6rem;
    }
  }
  h4 {
    font-style: italic;
    font-weight: 200;
  }
}
