@import "./../App.scss";

.card{
   // background-image: url( "./../assets/clearDay.jpg" );
   // background-size: cover;
   display: flexbox;
   flex-direction: column;
   // align-items: flex-start;
   width: 17vw;
   min-width: 300px;
   height: 41vh;
   padding: 2rem;
   margin: 1rem;
   // @include position(0,0,0,0);
   box-shadow: 2px 2px 6px 4px #000;
   border-radius: 1.2rem;
   background-image: -webkit-linear-gradient(-45deg, #CFCCCC 10%, #000 50%);
   opacity: 0.5;
   color: #FFF;
   // backdrop-filter: blur(5px);
   button{
      float:right;
      border-radius: 7px;
      cursor: pointer;
   }
   h1{
      font-size: 4.5rem;
      text-align: center;
   }
}

.description{
   display:flex;
  justify-content: space-evenly; 
   width: 100%;
   img{
      opacity: 1;
      width: 9rem;
   }
   h4{
      font-style: italic;
      font-weight: 200;
   }
}
